<section class="slider">
    <div class="list-slide active">
        <img src="~/assets/img/do-choi-chu-cua-hermit-sieu-quay-1.jpg" alt="" class="slide-img">
        <div class="overlay">
            <h1 class="animate__animated animate__fadeInDown" style="animation-delay: 3s">Đỉnh Nhất</h1>
        </div>
    </div>

    <div class="list-slide">
        <img src="~/assets/img/do-choi-cot-trang.jpg" alt="" class="slide-img">
        <div class="overlay">
            <h1 class="animate__animated animate__fadeInUp" style="animation-delay: 3s">Xứng Tầm Đồ chơi</h1>
        </div>
    </div>

    <div class="list-slide">
        <img src="~/assets/img/do-choi-cot-do.jpg" alt="" class="slide-img">
        <div class="overlay">
            <h1 class="animate__animated animate__fadeInLeft" style="animation-delay: 3s">Cute và dễ thương</h1>
        </div>
    </div>

    <div class="next-slide">
        <div class="progess">
            <div class="progess-fill active"></div>
        </div>

        <div class="progess">
            <div class="progess-fill"></div>
        </div>

        <div class="progess">
            <div class="progess-fill"></div>
        </div>
    </div>
</section>