@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="card" style="width: 18rem;color:cadetblue">
              <div class="card-body">
                <h5 class="card-title">@ViewBag.OrderCount</h5>
                <h6 class="card-subtitle mb-2 text-muted">Số đơn hàng</h6>             
                <a asp-action="OrderStatusSuccess" asp-controller="Order" asp-area="Admin" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
        </div>
        <!-- ./col -->
        
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="card" style="width: 18rem;color:yellowgreen">
              <div class="card-body">
                <h5 class="card-title">@ViewBag.UserCount</h5>
                <h6 class="card-subtitle mb-2 text-muted">Số lượng người dùng</h6>             
                <a asp-action="Index" asp-controller="User" asp-area="Admin" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="card" style="width: 18rem;color:orangered">
              <div class="card-body">
                <h5 class="card-title">@ViewBag.DoanhThu</h5>
                <h6 class="card-subtitle mb-2 text-muted">Tổng doanh thu trong tháng @DateTime.Now.Month</h6>             
                <a asp-action="ThongKe" asp-controller="Home" asp-area="Admin" class="small-box-footer">Xem chi tiết <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    
    <!-- /.row (main row) -->
</div><!-- /.container-fluid -->